
## <summary>policy for nodetrade</summary>


########################################
## <summary>
##	Transition to nodetrade.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nodetrade_domtrans',`
	gen_require(`
		type nodetrade_t, nodetrade_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nodetrade_exec_t, nodetrade_t)
')


########################################
## <summary>
##	Execute nodetrade server in the nodetrade domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nodetrade_initrc_domtrans',`
	gen_require(`
		type nodetrade_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nodetrade_initrc_exec_t)
')


########################################
## <summary>
##	Search nodetrade lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nodetrade_search_lib',`
	gen_require(`
		type nodetrade_var_lib_t;
	')

	allow $1 nodetrade_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nodetrade lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nodetrade_read_lib_files',`
	gen_require(`
		type nodetrade_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nodetrade_var_lib_t, nodetrade_var_lib_t)
')

########################################
## <summary>
##	Manage nodetrade lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nodetrade_manage_lib_files',`
	gen_require(`
		type nodetrade_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nodetrade_var_lib_t, nodetrade_var_lib_t)
')

########################################
## <summary>
##	Manage nodetrade lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nodetrade_manage_lib_dirs',`
	gen_require(`
		type nodetrade_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nodetrade_var_lib_t, nodetrade_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nodetrade environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nodetrade_admin',`
	gen_require(`
		type nodetrade_t;
		type nodetrade_initrc_exec_t;
		type nodetrade_var_lib_t;
	')

	allow $1 nodetrade_t:process { ptrace signal_perms };
	ps_process_pattern($1, nodetrade_t)

	nodetrade_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nodetrade_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nodetrade_var_lib_t)

')

